service: ev-punjaci-rvtech
frameworkVersion: "3"

plugins:
  - serverless-localstack

custom:
  localstack:
    stages:
      - dev
    host: http://localhost
    edgePort: 4566
    autostart: false

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  region: us-east-1
  environment:
    CHARGERS_TABLE: Chargers
    ALLOWED_ORIGIN: "http://punjaci-website-rvtech.s3-website.localhost.localstack.cloud:4566"
    OCM_URL: "https://api.openchargemap.io/v3/poi"
    OCM_API_KEY: "585594ec-573a-44ca-95df-00e56d096f89"

functions:
  getChargersByTown:
    handler: lambdas/getChargersByTown.handler
    description: Get chargers from DynamoDB by town (GSI TownIndex)
    events:
      - http:
          path: chargers/{town}
          method: get
          cors: true

  syncOCMdata:
    handler: lambdas/sync.handler
    description: Sync chargers from Open Charge Map to DynamoDB
    events:
      - http:
          path: sync
          method: get
          cors: true

resources:
  Resources:
    ChargersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.CHARGERS_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: chargerId
            AttributeType: S
          - AttributeName: town
            AttributeType: S
        KeySchema:
          - AttributeName: chargerId
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: TownIndex
            KeySchema:
              - AttributeName: town
                KeyType: HASH
            Projection:
              ProjectionType: ALL

    WebsiteBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: punjaci-website-rvtech
        AccessControl: PublicRead
        WebsiteConfiguration:
          IndexDocument: index.html
          ErrorDocument: error.html

    WebsiteBucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: !Ref WebsiteBucket
        PolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal: "*"
              Action: s3:GetObject
              Resource: !Join ["", ["arn:aws:s3:::", !Ref WebsiteBucket, "/*"]]